.mainpage-navbar {
    display: flex;
    justify-content: space-between;
    height: 6em;
    border-bottom: 2px solid gray;
    width: 100%;
}

.left-main-nav-container {
    width: 20%;
    height: 4em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.right-main-nav-container {
    display: flex;
    align-items: center;
}

.main-logo-container {
    display: flex;
    font-size: 35px;
    color: whitesmoke;
    align-items: flex-start;
    padding-left: 1.5em;
    padding-top: 1.2em;
}

.title-main-page {
    text-decoration: none;
    color: #2d2e2f;
    font-weight: 700;
}
