.profile-button {
    position: relative;
    background-color: #333;
    color: #999;
    border: 0;
    background: #333;
    font-family: Interstate, Lucida Grande, Arial, sans-serif;
    font-weight: 100;
    font-size: 14px;
    line-height: 1.5;
}

.profile-pic-container {
    padding-right: 3em;
    padding-left: 1em;
}

.profilePic {
    width: 2.5em;
    height: 2.5em;
    /* padding-right: 10px; */
    /* background-color: aqua; */
    border-radius: 50%;
    cursor: pointer;
}

.profilePic:hover {
    background-color: #dbd8d8;
}


.li-profile {
    font-size: 16px;
    display: flex;
    margin-top: 17px;
    align-items: center;
    border-bottom: 1px solid #ebebeb;
    font-weight: 500;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #2D2E2F;
    padding-left: 5px;
    word-break: break-all;
    white-space: normal;
    text-decoration: none;
}



.profileLi {
    color: #2d2e2f;
    width: 100%;
    cursor: pointer;
    padding-left: 0px;
    border-radius: 5px;
    border-top: 1px solid #ebebeb;

}

.profileLi:hover {
    background-color: rgb(214, 214, 214);
}

.profile-dropdown-container {
    width: 17em;
    position: absolute;
    top: 55px;
    z-index: 1;
    right: 20px;
}

.profile-dropdown {
    box-shadow: 0 0 3px 4px #ebebeb;
    border-color: '#f2f2f2';
    color: #333;
    background-color: white;
    border-radius: 3px;
    list-style-type: none;
    padding: 2px;

}

.logOutButton {
    background-color: white;
    color: #333;
    border: 0;
    width: 100%;
    text-align: left;
    padding: 0;
    font-family: Interstate, Lucida Grande, Arial, sans-serif;
    font-weight: 100;
    border-radius: 5px;

}

.logOutButton:hover {
    background-color: rgb(214, 214, 214);

}

.logout-button {
    width: 100%;
    height: 2em;
    border-top: #ebebeb 1px solid;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
