.write-a-review-button {
    background-color: rgba(224, 7, 7, 1);
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: 0;
    height: 2.4em;
    width: 12em;
    font-weight: 550;
    font-size: 18px;
    margin: 0;
    cursor: pointer;
}
