.logout-button {
    font-size: 16px;
    display: flex;
    margin-top: 5px;
    align-items: center;
    border-bottom: 1px solid #ebebeb;
    font-weight: 500;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #2D2E2F;
}

.logout-pic {
    padding-right: 10px;
}
