.business-form-container {
    /* max-width: 30em; */
    width: 41em;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    margin: 10px;

}

.buisness-form-title {
    color: #d32323;

}

.form-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.textarea-business {
    resize: none;
    height: 8em;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

.business-form-cancel {
    width: 19em;
    height: 2.7em;
    margin: 5px;
    font-size: 16px;
    color: #fff;
    background-color: #d32323;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    cursor: pointer;
}

.business-form-cancel:hover {
    background-color: #d32323c1;

}

.selected-state {
    width: 22.7em;
    color: rgb(105, 104, 104);
}

.form-wide-container {
    display: flex;
    /* background-color: #d32323; */
    flex-direction: row;

}

.form-wide-left-container {
    display: flex;
    flex-direction: column;
}

.form-wide-right-container {
    flex-direction: column;
    display: flex;
}

.counter-div {
    display: flex;
    justify-content: flex-end;
    font-size: 10px;
    margin-right: 8px;
    position: relative;
    bottom: .8em;
}

.button-create-container {
    display: flex;
}
