.star-rating-container {
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

#rating-button {
    margin: 2px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 2.5em;
    height: 2.5em;
}

/* .star-container {
    padding-left: 10px;
} */

.selected {
    color: white;
    background-color: red;
}

.notSeleted {
    color: white;
}

.start-side-saying {
    padding-left: 10px;
}
