.cover-whole-webpage-details {
    height: 100%;
    width: 100%;
    /* background-color: orange; */

}

.footer-test {
    height: 20vh;
}

.business-detail-container {
    position: relative;
    text-align: center;
    color: white;
}

.business-detail-words-in-image {
    position: absolute;
    bottom: 2em;
    left: 2.5em;
    /* margin: auto; */
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.285);
    border-radius: 5px;
    padding: 12px;
    word-break: break-word;
    overflow-wrap: break-word
}

.business-detail-image {
    min-width: 100%;
    height: 26.7em;
    object-fit: cover;
    image-rendering: optimizeQuality;
}

.business-detail-review {
    display: flex;
    font-size: 25px;
}

.buisness-details-about-business {
    display: flex;
    flex-direction: column;
    min-height: 65vh;
    padding-left: 8em;
    /* background-color: blue; */
    /* margin: auto; */
    /* width: 90%; */
    /* padding-right: 8em; */
}

.business-detail-review-container {
    /* background-color: aqua; */
    height: 3em;
    border-bottom: #ebebeb solid 1px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 89%;
    display: flex;
}

.business-detail-UD-button {
    width: 10em;
    height: 2.8em;
    background-color: transparent;
    border: #ebebeb 1px solid;
    border-radius: 5px;
    font-weight: 550;
    font-size: 17px;
    cursor: pointer;
}

.business-detail-UD-button:hover {

    background-color: #dbd8d8;

}

.business-detail-info-container {
    display: flex;
    justify-content: space-between;
    padding-right: 8em;


}

.business-detail-left-side {
    /* background-color: orange; */
    width: 58%;
}

.business-detail-title {
    font-size: 23px;
    font-weight: 700;
    color: #2d2e2f;
    margin: 10px;
}

.business-detail-right-side {
    /* background-color: orange; */
    width: 40%;
}

.business-detail-info-bottom {
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 10px;
    margin: 15px;
    color: #2d2e2f;
    word-break: break-all;
    white-space: normal;

}

.no-review-show {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ebebeb;
    width: 50%;
    margin: 15px;
    color: rgb(224, 7, 7);
}

.not-found-container {
    width: 100%;
    height: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.not-found-redirect {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: red;
    border: gray 1px solid;
    padding: 15px;
    border-radius: 5px;
}

.not-found-number {
    font-size: 50px;
    font-weight: 550;
    margin: 5px;
}

.not-found-word {
    font-size: 40px;
    font-weight: 500;
    margin: 5px;
}

.loading-screen {
    background-color: orange;
    height: 75vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
