.entire-business-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding-bottom: 15px;
    width: 100%;
    height: 100%
}

.business-title {
    display: flex;
    /* align-items: center; */
    justify-content: flex-start;
    /* width: 35%;
     */
    /* width: 22em; */
    font-size: large;
    font-weight: 500;
    font-size: 30px;
    /* padding-left: 12em; */
    padding-top: .5em;
    /* padding-bottom: .5em; */

}

.test {
    display: flex;
}

.business-container {
    display: flex;
    justify-content: center;
    /* padding-bottom: 10px; */
}

.navlink-business-list {
    text-decoration: none;
    color: black;
    /* margin-bottom: 10px; */
}

.business-list {
    display: flex;
    border-radius: 5px;
    background-color: white;
    width: 45em;
    height: 16.7em;
    margin: 1px;
    border-bottom: 1px solid #ebebeb;
}

.business-list:hover {
    box-shadow: 0 0 3px 3px #ebebeb;

}

.business-text-container {
    padding-top: 1.6em;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
}

.business-image {
    width: 13.5em;
    height: 13.5em;
    border-radius: 11%;
    padding: 1.5em;

}

.business-name {
    display: flex;
    font-size: 20px;
    font-weight: 700;
    color: #2D2E2F;
    word-break: break-all;
    white-space: normal;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.business-average {
    padding-top: 10px;
    color: #6E7072;
    margin: 2px;
    display: flex;

}

.business-review-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* padding-top: 5em; */
    word-break: break-all;
    height: 12em;
}

.five-star-container {
    display: flex;
}

.average-star-container {
    color: rgba(224, 7, 7, 1);
}

/* categories */
.entire-category-container-view-all {
    display: flex;
    /* padding-left: 10px; */
    flex-wrap: wrap;
    /* justify-content: center; */
}

.business-category-item-view-all {
    display: flex;
    background-color: #e2e2e2;
    padding: 4px 7px;
    /* border: black 1px solid; */
    border-radius: 4px;
    color: #6E7072;
    font-weight: 550;
    margin-right: 5px;
    justify-content: center;
    align-items: center;
    border: none;
    margin: 3px;
}

.category-button-container-view-all {
    display: flex;
    justify-content: center;
    align-items: center;
}
